/*.intro-lead-in {
  color: #fed136;
}*/

/*header {
  background-image: url('../img/aso_banner.jpg');*/

  @media (min-width: 768px) {
    .navbar-custom {
      background-color: rgba(34, 34, 34, 0.5);
      padding: 10px 0;}
    }
